<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spot.name %>
</p>

<p>
  <b>Note:</b>
  <%= @spot.note %>
</p>

<p>
  <b>Photo:</b>
  <%= @spot.photo %>
</p>

<p>
  <b>Status:</b>
  <%= @spot.status %>
</p>

<p>
  <b>Address:</b>
  <%= @spot.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @spot.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @spot.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@spot.latitude}%2C#{@spot.longitude}" %>

<h3>Nearby locations</h3>
<ul>
<% for spot in @spot.nearbys(10) %>
  <li><%= link_to spot.address, spot %>  (<%= spot.distance.to_f.round(1) %> miles)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
