<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @spot.name %>
</p>

<p>
  <b>Note:</b>
  <%= @spot.note %>
</p>

<p>
  <b>Photo:</b>
  <%= @spot.photo %>
</p>

<p>
  <b>Status:</b>
  <%= @spot.status %>
</p>

<p>
  <b>Address:</b>
  <%= @spot.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @spot.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @spot.longitude %>
</p>


<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
