<p>
  <h1><%= @spot.name %></h1>
</p>

<p>
  <h2><%= @spot.note %></h2>
</p>

<p>
  <%= @spot.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @spot.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @spot.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=16&markers=#{@spot.latitude}%2C#{@spot.longitude}" %>

<h3>Nearby locations</h3>
<ul>
<% for spot in @spot.nearbys(10) %>
  <li><%= link_to spot.address, spot %>  (<%= spot.distance.to_f.round(1) %> miles)</li>
<% end %>
</ul>
<%= link_to 'Destroy', spot, confirm: 'Are you sure?', method: :delete %>
<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
